body {
    /* padding-top: 20px; */
    margin: 0%;
}

header {
    text-align: center;
    position: absolute;
    display: inline;
    background: rgba(255, 255, 255, 0.8);
    width: 100%;
    left: 0;
    z-index: 3;
}

.logo-img {
    display: inline-block;
    position: fixed;
    top: 0;
    left: 75px;

}

.logo-img img {
    width: 250px;
    height: auto;
}

nav {
    display: inline-block;
    margin: 50px 0px 50px 250px;

}

ul {
    display: inline;
    list-style: none;
    text-align: center;
}

ul a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

a:hover {
    color: red;
}

li {
    display: inline;
    margin-right: 50px;
}

.hero-section {
    height: 860px;
    background: url(../img/hero_image_2.png) center/cover no-repeat;
    position: relative;
    z-index: 2;
}

.destinations-section {
    height: 300px;
    background-color: blue;
}

.travel-section {
    height: 300px;
    background-color: green;
}

footer {
    height: 300px;
    background-color: blueviolet;
}

footer p {
    margin: 0%;
}