body {
    background-color: aqua;
    padding-top: 20px;
    margin: 0%;
}

header {
    text-align: center;
}

img {
    width: 250px;
    height: auto;
}

nav {
    margin-bottom: 30px;
}

ul {
    list-style: none;
    text-align: center;
}

ul a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    color: black;
}

a:hover {
    color: red;
}

li {
    display: inline;
    margin-right: 100px;
}

.hero-section {
    height: 640px;
    background: url(../img/hero_image_2.png) center/cover no-repeat;
}

.destinations-section {
    height: 300px;
    background-color: blue;
}

.travel-section {
    height: 300px;
    background-color: green;
}

footer {
    height: 300px;
    background-color: blueviolet;
}

footer p {
    margin: 0%;
}